.color-block {
    height: 50px;
    width: 50px;
    
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.color-block.active {
    transform: scale(1.05);
    border: 2px solid #000;
}
